<h1>Ajout d'une tâche</h1>
<h2>Veuillez compléter le formulaire :</h2>
<form method="post">
    <div>
        <label for="taskName">Nom de la tâche : </label>
        <input id="taskName" name="todo" type="text" required/>
    </div>
    <button type="submit">Enregistrer</button>
</form>