@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Perdu?</h1>
<h2>Attendez, nous allons vous rediriger!</h2>
<script>
    setTimeout(function(){
        window.location.href='@Url.Action("Index","Home")';
    },5000);
</script>